In [1]:
import pandas as pd
base = pd.read_csv('house_prices.csv')
base.head()

           id             date     price  ...     long  sqft_living15  sqft_lot15
0  7129300520  20141013T000000  221900.0  ... -122.257           1340        5650
1  6414100192  20141209T000000  538000.0  ... -122.319           1690        7639
2  5631500400  20150225T000000  180000.0  ... -122.233           2720        8062
3  2487200875  20141209T000000  604000.0  ... -122.393           1360        5000
4  1954400510  20150218T000000  510000.0  ... -122.045           1800        7503

[5 rows x 21 columns]

In [2]:
base.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

In [3]:
used_columns = ['price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long']

In [4]:
base = pd.read_csv('house_prices.csv', usecols=used_columns)
base.head()

      price  bedrooms  bathrooms  ...  zipcode      lat     long
0  221900.0         3       1.00  ...    98178  47.5112 -122.257
1  538000.0         3       2.25  ...    98125  47.7210 -122.319
2  180000.0         2       1.00  ...    98028  47.7379 -122.233
3  604000.0         4       3.00  ...    98136  47.5208 -122.393
4  510000.0         3       2.00  ...    98074  47.6168 -122.045

[5 rows x 17 columns]

In [6]:
used_columns[1:]

['bedrooms',
 'bathrooms',
 'sqft_living',
 'sqft_lot',
 'floors',
 'waterfront',
 'view',
 'condition',
 'grade',
 'sqft_above',
 'sqft_basement',
 'yr_built',
 'yr_renovated',
 'zipcode',
 'lat',
 'long']

In [9]:
# Ao invés do escalonamento, utilizaremos a ideia de normalização
from sklearn.preprocessing import MinMaxScaler
scaler_x = MinMaxScaler()
base[used_columns[1:]] = scaler_x.fit_transform(base[used_columns[1:]])

In [10]:
base.head()

      price  bedrooms  bathrooms  ...   zipcode       lat      long
0  221900.0  0.090909    0.12500  ...  0.893939  0.571498  0.217608
1  538000.0  0.090909    0.28125  ...  0.626263  0.908959  0.166113
2  180000.0  0.060606    0.12500  ...  0.136364  0.936143  0.237542
3  604000.0  0.121212    0.37500  ...  0.681818  0.586939  0.104651
4  510000.0  0.090909    0.25000  ...  0.368687  0.741354  0.393688

[5 rows x 17 columns]

In [11]:
scaler_y = MinMaxScaler()
base[['price']] = scaler_y.fit_transform(base[['price']])
base.head()

      price  bedrooms  bathrooms  ...   zipcode       lat      long
0  0.019266  0.090909    0.12500  ...  0.893939  0.571498  0.217608
1  0.060721  0.090909    0.28125  ...  0.626263  0.908959  0.166113
2  0.013770  0.060606    0.12500  ...  0.136364  0.936143  0.237542
3  0.069377  0.121212    0.37500  ...  0.681818  0.586939  0.104651
4  0.057049  0.090909    0.25000  ...  0.368687  0.741354  0.393688

[5 rows x 17 columns]

In [12]:
X = base.drop('price', axis=1)
y = base.price